body{
    margin: 0;
    background: lightcyan;
    text-align: center; 

}
/* style the header */
.header {
  padding: 80px; /* some padding */
  text-align: center; /* center the text */
  background: lavender; /* green background */
  color: black; /* white text color */
}

/* Increase the font size of the <h1> element */
.header h1 {
  font-size: 40px;
}
/* Style the top navigation bar */
.navbar {
  overflow: hidden; /* Hide overflow */
  background-color:darkcyan; /* Dark background color */
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 130px;
  background-color: #f1f1f1;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}