body{
    margin: 0;
    background:  rgb(226, 194, 226);
    text-align: center; 

}
/* style the header */
.header {
  padding: 40px; 
  text-align: center;
  background:rgb(119, 0, 89); 
  color: black; 
  font-style: Monaco;
}

/* Increase the font size of the <h1> element */
.header h1 {
  font-size: 40px;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 130px;
  background-color: rgb(119, 0, 89); 
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}