body{
    margin: 0;
    background: lightcyan;
    text-align: center; 

}

/* Style the top navigation bar */
.navbar {
  overflow: hidden; /* Hide overflow */
  background-color:darkcyan; /* Dark background color */
}